@media screen and (max-width:576px) {
    .header-section ,
    .nav-container

    {
        flex-direction: column;
        flex-direction: row;
    }

    .items{
        flex-direction: column;

    }
    
}